@model IEnumerable<BanHangXachTay.tableTTSP>

@{
    ViewBag.Title = "Quản Lý Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Quản Lý Sản Phẩm</h2>


    <p> 

        @Html.ActionLink("Thêm Sản Phẩm", "Create")

        @using (Html.BeginForm())
        {
        <p>
            @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
        </p>
        }
        </p>
       
            <table class="table table-bordered table-condensed table-striped table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.idSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tenSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dongia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.soluong)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ngaynhap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ghichu)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idSP)
                        </td>
                        <td>
                            <pre>
                               <b>
                                  @item.tenSP
                               </b>
                                
                            </pre>
                        </td>
                        <td>
                            @item.dongia.ToString("N0")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.soluong)
                        </td>
                        <td>
                            @item.ngaynhap.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <pre>   
                                @item.ghichu
                            </pre>
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.maSP }) |
                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.maSP }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.maSP })
                        </td>
                    </tr>
                }

            </table>
    </center>