@model BanHangXachTay.Models.Contact

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idContact)

        <div class="form-group">
            @Html.LabelFor(model => model.chuDe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chuDe)
                @Html.ValidationMessageFor(model => model.chuDe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tieuDe)
                @Html.ValidationMessageFor(model => model.tieuDe)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noiDung, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.noiDung)
                @Html.ValidationMessageFor(model => model.noiDung)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hoTen)
                @Html.ValidationMessageFor(model => model.hoTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sdt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sdt)
                @Html.ValidationMessageFor(model => model.sdt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thoiGianGui, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thoiGianGui)
                @Html.ValidationMessageFor(model => model.thoiGianGui)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trangThai)
                @Html.ValidationMessageFor(model => model.trangThai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.traLoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.traLoi)
                @Html.ValidationMessageFor(model => model.traLoi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thoigianTraLoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thoigianTraLoi)
                @Html.ValidationMessageFor(model => model.thoigianTraLoi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghiChu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghiChu)
                @Html.ValidationMessageFor(model => model.ghiChu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
