@model BanHangXachTay.Models.Contact

@{
    ViewBag.Title = "Edit";
    Layout = null;
    <link href="/Content/Contact/css/TraLoi.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.idContact)
    <div class="contact">
        <h1>TRẢ LỜI LIÊN HỆ</h1>
        <div class="border"></div>
        <form class="contact-form">
            <div class="form-InfoContact">
                <div class="contact-left">
                    <div class="row-info hoten">
                        <h3 class="left">Tên Người Gửi</h3>
                        @Html.EditorFor(model => model.hoTen)
                    </div>
                    <div class="row-info chude">
                        <h3 class="left">Chủ Đề</h3>
                        @Html.EditorFor(model => model.chuDe)
                    </div>
                    <div class="row-info tieude">
                        <h3 class="left">Tiêu Đề</h3>
                        @Html.EditorFor(model => model.tieuDe)
                    </div>
                </div>
                <div class="contact-right">
                    <div class="row-info noidung">
                        <h3 class="left">Nội Dung</h3>
                        @Html.TextAreaFor(model => model.noiDung)
                    </div>
                    <div class="bottom-right">
                        <div class="row-info email">
                            <h3 class="left">Email</h3>
                            @Html.EditorFor(model => model.email)
                        </div>
                        <div class="row-info sdt">
                            <h3 class="sdt">Số Điện Thoại</h3>
                            @Html.EditorFor(model => model.sdt)
                        </div>
                    </div>
                </div>
            </div><!-- form-info -->

            <div class="form-ReplyContact">
                <div class="form-Reply">
                    <div class="row-reply traLoi">
                        <h3 class="left">Trả Lời</h3>
                        @Html.TextAreaFor(model => model.traLoi)
                    </div>

                    <div class="row-reply trangthai">
                        <h3 class="left">Trạng Thái</h3>
                        @Html.EditorFor(model => model.trangThai)
                    </div>
                    <div class="row-reply ghiChu">
                        <h3 class="left">Ghi Chú</h3>
                        @Html.TextAreaFor(model => model.ghiChu)
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" id="save" />
                        </div>
                    </div>
                </div><!-- form-reply -->
            </div>
        </form>
    </div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
