@model IEnumerable<BanHangXachTay.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.chuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoiGianGui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.traLoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoigianTraLoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.chuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoiGianGui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.traLoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thoigianTraLoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.ActionLink("Reply", "Reply", new { id=item.idContact }) |
            @Html.ActionLink("Details", "Details", new { id=item.idContact }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idContact })
        </td>
    </tr>
}

</table>
