@model BanHangXachTay.Models.tableBILL

@{
    ViewBag.Title = "Create";
}

<h2>Thêm mới đơn hàng</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.tenKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenKH)
                @Html.ValidationMessageFor(model => model.tenKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sodienthoaiKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sodienthoaiKH)
                @Html.ValidationMessageFor(model => model.sodienthoaiKH)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ngaynhanhang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaynhanhang)
                @Html.ValidationMessageFor(model => model.ngaynhanhang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachinhanhang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachinhanhang)
                @Html.ValidationMessageFor(model => model.diachinhanhang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichuSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ghichuSP)
                @Html.ValidationMessageFor(model => model.ghichuSP)
            </div>
        </div>

        

        

        <div class="form-group">
            @Html.LabelFor(model => model.ghichuBILL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ghichuBILL)
                @Html.ValidationMessageFor(model => model.ghichuBILL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-primary" onclick="javascript:return ShowMessage()"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
<div>
    <a href="@Url.Action("Index","Cart")">Quay lại YourCart</a>
</div>


    @Styles.Render("~/bundles/jqueryval")
