@model BanHangXachTay.Models.tableBILL

@{
    ViewBag.Title = "Delete";
}



<h2>Bạn có chắc muốn xóa không?</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.tenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sodienthoaiKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sodienthoaiKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydathang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydathang)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.ngaynhanhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaynhanhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachinhanhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachinhanhang)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongiaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongiaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluongSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichuSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichuSP)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.ghichuBILL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichuBILL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
