@model BanHangXachTay.Models.tableBILL

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tableBILL</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idHD)

        <div class="form-group">
            @Html.LabelFor(model => model.idKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idKH)
                @Html.ValidationMessageFor(model => model.idKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tenKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenKH)
                @Html.ValidationMessageFor(model => model.tenKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sodienthoaiKH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sodienthoaiKH)
                @Html.ValidationMessageFor(model => model.sodienthoaiKH)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaydathang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaydathang)
                @Html.ValidationMessageFor(model => model.ngaydathang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaygiaohang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaygiaohang)
                @Html.ValidationMessageFor(model => model.ngaygiaohang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaynhanhang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaynhanhang)
                @Html.ValidationMessageFor(model => model.ngaynhanhang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.diachinhanhang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachinhanhang)
                @Html.ValidationMessageFor(model => model.diachinhanhang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idSP)
                @Html.ValidationMessageFor(model => model.idSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenSP)
                @Html.ValidationMessageFor(model => model.tenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dongiaSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongiaSP)
                @Html.ValidationMessageFor(model => model.dongiaSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soluongSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluongSP)
                @Html.ValidationMessageFor(model => model.soluongSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichuSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghichuSP)
                @Html.ValidationMessageFor(model => model.ghichuSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thanhtienBILL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thanhtienBILL)
                @Html.ValidationMessageFor(model => model.thanhtienBILL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soluongBILL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluongBILL)
                @Html.ValidationMessageFor(model => model.soluongBILL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dongiaBILL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongiaBILL)
                @Html.ValidationMessageFor(model => model.dongiaBILL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tongdoanhthu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tongdoanhthu)
                @Html.ValidationMessageFor(model => model.tongdoanhthu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichuBILL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghichuBILL)
                @Html.ValidationMessageFor(model => model.ghichuBILL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
