@model BanHangXachTay.Models.Contact

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Contact/css/CssDetails.css" rel="stylesheet" />
<h2>Thông tin</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chủ đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chuDe)
        </dd>

        <dt>
            Tiêu đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieuDe)
        </dd>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            Họ và Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

        <dt>
            Thời gian gửi:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGianGui)
        </dd>

        <dt>
            Trạng thái:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            Trả lời:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.traLoi)
        </dd>

        <dt>
            Thời gian trả lời:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigianTraLoi)
        </dd>

        <dt>
            Ghi chú:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Thoát ra", "Index") |
    @Html.ActionLink("Trả Lời", "TraLoi", "Admin_CapNhat_Xoa_TraLoi", new { id = Model.idContact }, "")
</p>
