@{
    ViewBag.Title = "Thông tin tài khoản";
}


@{
    ViewBag.Title = "YourCartViews";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/Content/themes/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="/Content/themes/css/flexslider.css" rel="stylesheet" />
    <link href="/Content/themes/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="/Content/themes/js/jquery-1.7.2.min.js"></script>
    <script src="/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/themes/js/superfish.js"></script>
    <script src="/Content/themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <input type="text" class="input.-block-level search-query" placeholder="eg. T-sirt">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li><a href="@Url.Action("AboutViews","Home")">My Account</a></li>
                        <li><a href="@Url.Action("YourCartViews","YourCart")">YourCart</a></li>
                        <li><a href="@Url.Action("ContactViews","Home")">Checkout</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--/////////////////////////////-->
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="index.html" class="logo pull-left"><img src="/Content/themes/images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="./WomanViews">Woman</a>
                            <ul>
                                <li><a href="./products.html">Lacinia nibh</a></li>
                                <li><a href="./products.html">Eget molestie</a></li>
                                <li><a href="./products.html">Varius purus</a></li>
                            </ul>
                        </li>
                        <li><a href="./ManViews">Man</a></li>
                        <li>
                            <a href="./products.html">Sport</a>
                            <ul>
                                <li><a href="./products.html">Gifts and Tech</a></li>
                                <li><a href="./products.html">Ties and Hats</a></li>
                                <li><a href="./products.html">Cold Weather</a></li>
                            </ul>
                        </li>
                        <li><a href="./products.html">Hangbag</a></li>
                        <li><a href="./products.html">Best Seller</a></li>
                        <li><a href="./products.html">Top Seller</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <!--/////////////////////////////-->
        <section class="homepage-slider" id="home-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="/Content/themes/images/carousel/banner-1.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/Content/themes/images/carousel/banner-2.jpg" alt="" />
                        <div class="intro">
                            <h1>Mid season sale</h1>
                            <p><span>Up to 50% Off</span></p>
                            <p><span>On selected items online and in stores</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


        <!--/////////////////////////////-->
        <section class="header_text">
            <h4 class="title"><span class="text">VIEWS ABOUT (NHI)</span></h4>

            <table class="table table-bordered table-condensed table-hover table-striped">
                <tr>
                    <th colspan="2" rowspan="4">
                        <img src="~/Content/Image/Nguyen.jpg" alt="Đậu Đậu" width="168" height="168" />
                    </th>
                    <th>
                        Họ và tên
                    </th>
                    <td>
                        Đặng Quang Nguyên
                    </td>
                    <th>
                        Username
                    </th>
                    <td>
                        dqn1411
                    </td>
                </tr>
                <tr>
                    <th>
                        Ngày sinh
                    </th>
                    <td>
                        14/11/1999
                    </td>
                    <th>
                        Giới tính
                    </th>
                    <td>
                        Nam
                    </td>
                </tr>
                <tr>
                    <th>
                        Địa chỉ
                    </th>
                    <td>
                        123 ABC P.13 Q.GV
                    </td>
                    <th>
                        Số điện thoại
                    </th>
                    <td>
                        0123456789
                    </td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td colspan="3">
                        quangnguyenne1411@gmail.com
                    </td>
                </tr>
            </table>

        </section>


        
       
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Hỗ trợ khách hàng</h4>
                    <ul class="nav">
                        <li>
                            <p class="hotline-number">
                                Hotline đặt hàng: <a href=".#">0979320779</a><br>
                                <small>(Mr.Nguyên, 8-21h kể cả T7, CN)</small>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="span2">
                    <h4>Về Web</h4>
                    <ul class="nav">

                        <p>
                        <li><a href="@Url.Action("AboutViews","Home")">My Account</a></li>
                        <li><a href="@Url.Action("YourCartViews","YourCart")">Your Cart</a></li>
                        <li><a href="@Url.Action("ContactViews","Home")">Check out</a></li>
                        </p>


                    </ul>
                </div>

                <div class="span4">
                    <h4>Phương thức thanh toán</h4>
                    <div class="nav-other payment">
                        <a href="#"><img alt="" src="~/Content/themes/images/iconVisaCard.png"></a>
                        <a href="#"><img alt="" src="~/Content/themes/images/iconMasterCard.png"></a>
                        <a href="#"><img alt="" src="~/Content/themes/images/iconJCB.png"></a>
                    </div>
                </div>

                <div class="span3">
                    <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                    <div class="nav-other social-conn">
                        <a rel="nofollow" href="https://www.facebook.com/KangHyyyy" target="_blank" title="Facebook">
                            <a href="https://www.facebook.com/KangHyyyy"><img alt="" src="~/Content/themes/images/iconFacebook.png"></a>
                        </a>
                        <a rel="nofollow" href="https://www.youtube.com/" target="_blank" title="Youtube">
                            <a href="https://www.youtube.com/"><img alt="" src="~/Content/themes/images/iconYoutube.png"></a>
                        </a>
                        <a rel="nofollow" href="https://zalo.me/pc" target="_blank" title="Zalo">
                            <a href="https://zalo.me/pc"><img alt="" src="~/Content/themes/images/iconZalo.png"></a>
                        </a>

                    </div>

                </div>


            </div>
        </section>
        <section id="copyright">
            <span>N</span>
        </section>
    </div>
    <script src="/Content/themes/js/common.js"></script>
    <script src="/Content/themes/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>
</body>
</html>



