@model BanHangXachTay.Models.tablePRODUCT

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tablePRODUCT</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.loaiSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.loaiSP)
                @Html.ValidationMessageFor(model => model.loaiSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tenSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenSP)
                @Html.ValidationMessageFor(model => model.tenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dongiaSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dongiaSP)
                @Html.ValidationMessageFor(model => model.dongiaSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.soluongSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.soluongSP)
                @Html.ValidationMessageFor(model => model.soluongSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ngaynhap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaynhap)
                @Html.ValidationMessageFor(model => model.ngaynhap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nhacungcap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nhacungcap)
                @Html.ValidationMessageFor(model => model.nhacungcap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.img)
                @Html.ValidationMessageFor(model => model.img)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghichuSP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghichuSP)
                @Html.ValidationMessageFor(model => model.ghichuSP)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
