@model BanHangXachTay.Models.tablePRODUCT

@{
    ViewBag.Title = "Xóa Sản Phẩm"; 
}



<h2>Bạn có chắc muốn xóa @Html.DisplayFor(model => model.tenSP) khỏi danh sách không?</h2>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="@Url.Action("Image", new { id = Model.idSP })" width="200" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiSP)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.dongiaSP)
        </dt>

        <dd>
            @if (Model.dongiaSP.HasValue)
            {
                @Model.dongiaSP.Value.ToString("N0")
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.soluongSP)
        </dt>

        <dd>
            @if (Model.soluongSP.HasValue)
            {
                @Model.soluongSP.Value.ToString("N0")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaynhap)
        </dt>

        <dd>
            @if (Model.ngaynhap.HasValue)
            {
                @Model.ngaynhap.Value.ToString("dd/MM/yyyy")
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhacungcap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhacungcap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichuSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichuSP)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
