@model BanHangXachTay.Models.tablePRODUCT

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Sản Phẩm: @Html.DisplayFor(model => model.tenSP) </h2> 

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal page">

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            <img src="@Url.Action("Image", new { id = Model.idSP })" width="300px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiSP)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.dongiaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongiaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluongSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaynhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaynhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nhacungcap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nhacungcap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghichuSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichuSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.idSP }) |
   
    <a href="~/Admin_tablePRODUCTs/Index" class="btn btn-inverse" role="button">Quay Lại</a>
</p>
