@model IEnumerable<BanHangXachTay.Models.tableCUSTOMER>

@{
    ViewBag.Title = "Index";
}



<h4 class="title"><span class="text">Thong tin khach hang</span></h4>


<p>
    @Html.ActionLink("Thêm khách hàng mới", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sodienthoaiKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghichu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodienthoaiKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ghichu)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idKH }) |
                @Html.ActionLink("Details", "Details", new { id = item.idKH }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idKH })
            </td>
        </tr>
    }

</table>