@model BanHangXachTay.Models.tablePRODUCTofYourCart


@{
    ViewBag.Title = "Delete";
}

<h2>Bạn có chắc muốn xóa không?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSP)
        </dd>
   
        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongiaSP)
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongSP)
        </dd>

       

        <dt>
            Ghi chú
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" onclick="javascript:return ShowMessage()"/> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
