@model IEnumerable<BanHangXachTay.Models.tablePRODUCTofYourCart>

@{
    ViewBag.Title = "Index";
}

<h4 class="title"><span class="text">Danh sách sản phẩm</span></h4>
<h4>@ViewBag.Message</h4>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>
<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th>
            idSP
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Đơn giá
        </th>
        <th>
            Số lượng
        </th>
        @*<th>
                Thành tiền
            </th>*@
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenSP)
            </td>
            <td>
                <img src="@Url.Action("Image", new { id = item.idSP})" style="height:200px; width: 200px" />
            </td>
            <td>
                @if (item.dongiaSP.HasValue)
                {
                    @item.dongiaSP.Value.ToString("N0")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluongSP)
            </td>
            @*<td>
                    @item.thanhtien = (@item.dongiaSPitem.soluongSP)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ghichu)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.idSP }) |
                @Html.ActionLink("Xem", "Details", new { id = item.idSP }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.idSP })  |
                <a href="@Url.Action("Create", "Cart", new { id = item.idSP })">Thêm vào giỏ</a>
            </td>
        </tr>
    }

</table>
